:root {
  --color-background-contained: #0d50ff;
  --color-background-hover: #282828;
  --color-background-footer: #f1f3f4;
  --color-background-modal: #28282866;

  --color-text-primary: #282828;
  --color-text-secondary: #8b8b8b;
  --color-text-hover: #0d50ff;

  --color-border: #dddddd;

  --radius-small: 6px;
  --radius-big: 12px;
}
