.firstOrderForm {}

.wrapper {
  background-color: var(--bg-color);
  border-radius: var(--radius-big);
  padding: 2rem;
  position: relative;
}

.title {
  color: #ffffff;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
}

.imgWrapper {
  position: relative;
  bottom: -2rem;
}
.img {
  display: block;
}

.form {
  position: relative;
  top: 0;
  bottom:  0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #fff;
  color: var(--dark-text-color);
}
