.checkBox {
  width: 2.25rem;
  height: 2.25rem;
  padding: 6px !important;

  border-radius: var(--radius-small);
  border: solid 1px var(--color-border);
  cursor: pointer;
}

.checkBox:hover {
  filter: brightness(0.8);
}

.checked {
  background-color: var(--color-background-contained);
}
