.singleProduct {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
}

.imgWrapper {
}
.img {
}

.infoWrapper {
}
.title {
}
.priceWrapper {
}
.controlWrapper {
}

.descriptionTitle {
}
.text {
}
