.button {
  padding: 1rem 3.5rem;
  border-radius: var(--radius-small);
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.contained {
  border: none;
  background-color: var(--color-background-contained);
  color: #fff;
}
.contained:hover {
  background-color: var(--color-background-hover);
}
